import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;

com.sun.jini.start {


    private static codebase = "http://localhost:8080/reggie-dl.jar";
    private static policy = "/home/dell/tmp_pr/comletely_tmp/jini/simple_message_exchange/all_rmi_lib/reggie.policy";
    private static classpath = "/home/dell/tmp_pr/comletely_tmp/jini/simple_message_exchange/all_rmi_lib/reggie.jar";
    private static config = "/home/dell/tmp_pr/comletely_tmp/jini/simple_message_exchange/all_rmi_lib/transient-reggie.config";

    static serviceDescriptors = new ServiceDescriptor[] {
                new NonActivatableServiceDescriptor(
                        codebase, policy, classpath,
                        "com.sun.jini.reggie.TransientRegistrarImpl",
                         new String[] { config })
    };
}

